body{
  background-color: rgba(128, 128, 128, 0.205);
}
.profile img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-top: 2rem;
}
.top-card{
  margin: auto;
  width: 70%;
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 10px;
  background-color: white;
  padding: 1rem 2rem;
  min-height: 10rem;
  display: flex;
  flex-wrap: wrap;
}
.name{
  font-size: 60px;
  font-weight: bolder;
  color: rgba(255, 68, 0, 0.651);
  text-decoration: underline;
}
.add{
  margin-top: 10px;
  font-size: 20px;
  width: 65%;
}
.land{
  font-weight: bolder;
}
.dooron{
  color: blueviolet;
}
.gen{
  margin-top: 10px;
  color: gray;
}
.underline{
  text-decoration: underline;
}
.detials{
  margin-left: 2rem;
}
.members-detials{
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.detial-cards{
  background-color: white;
  width: 15.5rem;
  border: 1px solid rgba(128, 128, 128, 0.308);
  padding: 10px;
  border-radius: 5px;
}
.map-gen{
  color: gray;
  font-size: 13px;
}
.map-name{
  font-weight: bold;
  margin-top: 5px;
}
.map-mail{
  color: rgba(255, 68, 0, 0.747);
  font-size: 14px;
  margin-top: 5px;
}
@media only screen and (max-width: 600px) {
  .top-card{
    padding: 1rem 1rem;
  }
  .profile{
    margin: auto;
    justify-content: center;
    text-align: center;
  }
.name{
  font-size: 17px;
  font-weight: bolder;
  color: rgba(255, 68, 0, 0.651);
  text-decoration: underline;
}
.add{
  margin-top: 10px;
  font-size: 16px;
  width: 90%;
}
.members-detials{
  width: 80%;
}
}